.ics {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 18px;
  color: #a2a2a2;
  cursor: pointer;
  transition: 300ms;
}

.ics:hover {
  transition: 300ms;
  color: #696969;
}

.card {
  background-color: #f5f5f5;
  padding: 60px 40px;
  border-radius: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.card-container {
  display: flex;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.card-name-card-example {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 100%;
}

.card-name-card-example input {
  height: 36px;
  width: 210px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
}

.card-name-card-example input[type="text"] {
  padding-left: 15px;
  letter-spacing: 1.5px;
}

.card-name {
  margin-top: auto;
  padding-bottom: 30px;
}

.card-name p {
  padding-bottom: 10px;
}

.card-example {
  position: relative;
  width: 240px;
  height: 135px;
  border-radius: 15px;
  background: linear-gradient(120deg, rgb(61, 61, 61) 45%, rgb(88, 88, 88) 95%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

.check-card {
  top: 0;
  right: 0;
  position: absolute;
}

.fa-cc-visa,
.fa-cc-mastercard {
  display: none;
  align-items: center;
  font-size: 45px;
  color: #313131;
  padding-top: 15px;
  padding-right: 15px;
}

.fa-cc-visa {
  color: #00bfffcb;
}
.fa-cc-mastercard {
  color: #ff7b00cb;
}

@keyframes size {
  from {
    font-size: 0px;
  }
  to {
    font-size: 45px;
  }
}

.card-example :nth-child(2) {
  padding-top: 15px;
  letter-spacing: 1px;
}

.card-example :last-child {
  padding-bottom: 5px;
  letter-spacing: 1px;
}

.card-square {
  border-radius: 5px;
  width: 40px;
  height: 20px;
  margin-bottom: 10px;
  background: #c9c9c9;
  opacity: 0.7;
  margin-left: 10px;
}

.card-example p {
  text-align: left;
  color: white;
  padding-left: 10px;
}

.esential-card-details {
  display: flex;
  padding-bottom: 30px;
}

.card-number {
  padding-right: 10px;
}

.card-number p {
  padding-bottom: 10px;
}

.card-number input {
  display: flex;
  height: 36px;
  width: 180px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
}

.card-number input[type="text"] {
  padding-left: 10px;
  letter-spacing: 1.5px;
}

.card-number input::placeholder {
  letter-spacing: 1.5px;
}

.card-expiration {
  padding-right: 10px;
}

.card-expiration p {
  padding-bottom: 10px;
}

.card-expiration input {
  height: 36px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
}

.card-expiration input[type="text"] {
  padding-left: 15px;
  letter-spacing: 1.5px;
}

.card-cvv p {
  padding-bottom: 10px;
}

.card-cvv input {
  height: 36px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
}

.card-cvv input[type="text"] {
  padding-left: 15px;
  letter-spacing: 1.5px;
}

.confirm-button {
  background-color: #35b0da;
  color: white;
  cursor: pointer;
  width: 150px;
  margin: auto;
  border: none;
  border-radius: 15px;
  padding: 5px 0;
  margin-bottom: -30px;
  font-size: 18px;
  transition: 120ms ease-in;
}

.confirm-button:hover {
  transition: 120ms ease-in;
  background-color: #00759c;
  outline: none;
}

@media only screen and (max-width: 650px) {
  body {
    overflow: hidden;
  }
  .card {
    padding-top: 10px;
    width: 320px;
  }
  .card-name-card-example {
    transition: 200ms ease-in;
    flex-direction: column-reverse;
    align-items: center;
  }
  .card-name {
    padding-top: 15px;
    margin-bottom: -50px;
  }
  .esential-card-details {
    flex-direction: column;
    align-items: center;
  }
  p {
    text-align: center;
  }
  .card-number input[type="text"] {
    padding-right: 20px;
    letter-spacing: 1.5px;
    text-align: center;
  }
  .card-expiration input[type="text"] {
    padding-left: 0px;
    letter-spacing: 1.5px;
    text-align: center;
  }
  .card-expiration {
    padding-top: 10px;
  }
  .card-cvv input[type="text"] {
    padding-left: 0px;
    letter-spacing: 1.5px;
    text-align: center;
  }
  .card-cvv {
    padding-top: 10px;
  }
  .card-example p {
    text-align: left;
    color: white;
    padding-left: 10px;
  }
  .card-square {
    margin-left: 10px;
  }
}
