@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main p {
  font-size: 30px;
}

.main button {
  outline: none;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: white;
  cursor: pointer;
  transition: 300ms;
}

.main button:hover {
  transition: 300ms;
  background-color: #dddddd;
}

.main-modificat {
  display: none;
}

.AppChanged {
  transition: 300ms ease;
  background-color: rgba(0, 0, 0, 0.781);
}